<%- include('./partials/head') %>
<div class="detail-wrapper">
  <section>
    <a href="/"><i class="fa-solid fa-chevron-left"></i> Go back</a>
    <h1> Detail page of <%= detail.name %></h1>
  </section>
  <section>
    <div class="container">

        <div class="card" >
          <img src="<%= detail.avatar %>" alt="">
          <p> <%= detail.name %> </p>
        </div>
        <article class="details">
          <h3> Meer info over <%= detail.name %></h3>
          <p><%= detail.bio %></p>
          <p> Username: <%= detail.nickname %></p>
          <a href="<%= detail.website %>"> Website </a>
        </article>
    </div>
  </section>
  <section>
    <div class="form ">
      <form method="post" action="/detail/<%= detail.id %>">
        <label>
          Laat een berichtje achter voor <%= detail.name %>
          <textarea required name="textbox"></textarea>
        </label>
          <button type="submit"> Verstuur bericht</button>
  
      </form>
    </div>
    <div class="--result ">
      <h3>Alle berichten</h3>
      <ul> 
        <% messages.forEach(message => { %>
         <li><%= message %></li> 
         <% }) %>
      </ul>
    </div>
  </section>
  
  <script src="/script.js"></script>
  <script src="/filter.js"></script>
</div>


<%- include('./partials/foot') %>
  