<%- include('./partials/head') %>

<ul>
  <% data.forEach(person => { %>
    <li><a href="./person/<%= person.id %>"><%= person.name %></a>, squad_id <%= person.squad_id %></li>
  <% }) %>
</ul>

<%- include('./partials/foot') %>
